/*table {*/
    /*font-family: "Times New Roman" ;*/
    /*border-collapse: collapse;*/
    /*width: 40%;*/
    /*color: black;*/
/*}*/

/*td, th {*/
    /*border: 2px solid black;*/
    /*text-align: center;*/
    /*padding: 15px;*/

/*}*/
/*div{*/
    /*border: 15px solid #090909;*/
    /*padding: 10px;*/
    /*margin: 15px;*/
    /*width: 65%;*/
/*}*/




